#navegacion {
  background-color: #d32f2f; }

.jumbotron {
  background-color: #f44336;
  color: white;
  font-weight: bold;
  margin-top: 50px;
  margin-bottom: 0px; }

.footer > div > div > a {
  color: white; }

.footer {
  padding: 10px 10px 0px 10px;
  background-color: #d32f2f;
  margin-top: 10px;
  margin-bottom: 0px; }

.card-hotel {
  flex: 1 250px;
  padding: 2px 5px;
  margin-left: 10px;
  margin-top: 5px;
  margin-bottom: 15px; }

.btn-reserva {
  width: 100%;
  border-radius: 0px; }

address {
  text-align: center;
  color: white; }

span.oi.oi-star {
  color: #ffeb3b;
  text-align: center; }

th, td {
  text-align: center; }
