$redPrimary: #f44336;
$redSecundary: #d32f2f;

@mixin margenes($top, $bottom) {
    margin-top: $top;
    margin-bottom: $bottom;
}

#navegacion{
    background-color: $redSecundary;
}
.jumbotron{
    background-color: $redPrimary;
    color: white;
    font-weight: bold;
    @include margenes(50px, 0px)
}
.footer>div>div>a{
    color: white;
}
.footer{
    padding: 10px 10px 0px 10px;
    background-color: $redSecundary;
    @include margenes(10px, 0px);
}
.card-hotel{
    flex: 1 250px;
    padding: 2px 5px;
    margin-left: 10px;
    @include margenes(5px, 15px);
}
.btn-reserva{
    width: 100%;
    border-radius: 0px;
}
address{
    text-align: center;
    color: white;
}
span.oi.oi-star{
    color: #ffeb3b;
    text-align: center;
}
th, td{
    text-align: center;
}